<div class="table-responsive mb-2">
    <p> Lançamentos</p>
    <table class="table table-sm table-hover table-borderless" id="tableDetailInvoice">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for field in details %}
                {% if field.revenue %}
                    <tr class="table-primary">
                        <td>{{ field.description }}</td>
                        <td>{{ field.value }}</td>
                    </tr>
                {% else %}
                    <tr class="table-danger">
                        <td>{{ field.description }}</td>
                        <td>{{ field.value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <p>Resumo</p>
    <table class="table table-sm table-hover table-borderless">
        <thead>
            <tr>
                <th scope="col">Total despesa</th>
                <th scope="col">Total Receita</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{ total }}</td>
                <td>{{ total_revenue }}</td>
                <td>{{ balance }}</td>
            </tr>
        </tbody>
    </table>

</div>