

<div class="table-responsive mb-2">
    {% for k, v in details.items() %}
    <p class="title"> Lançamentos - {{ k }}</p>
    <table class="table table-sm table-hover " id="tableDetailInvoice">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for field in v %}
                {% if field.revenue %}
                    <tr>
                        <td>{{ field.description }}</td>
                        <td class="valueRevenue">{{ field.value }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ field.description }}</td>
                        <td class="value">{{ field.value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <p class="title">Resumo</p>
    <table class="table table-sm table-hover" id="tableDetailInvoiceTotal">
        <thead>
            <tr>
                <th scope="col">Total despesa</th>
                <th scope="col">Total Receita</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td class="value">{{ total }}</td>
                <td class="valueRevenue">{{ total_revenue }}</td>
                {% if balance > 0 %}
                    <td class="balancePositive">{{ balance }}</td>
                {% else %}
                    <td class="value">{{ balance }}</td>
                {% endif %}

            </tr>
        </tbody>
    </table>
</div>


<style>

.title {
    text-align: left;
    vertical-align: text-top;
    margin-bottom: 30px;
    font-weight: bold;
    }
    
.value {
    color:red;
}
      
.valueRevenue{
    color: blue;
}

.balancePositive {
    color: green;
}

#tableDetailInvoiceTotal {
    max-width: 500px;
}
</style>