{% extends  'base.html' %}

{% block title %} Controle de Contas - Origens {% endblock title %}


{% block body %}

<div class="container mt-2" id="id_body">
    <button type="button" class="btn btn-primary mt-2 mb-2" data-toggle="modal" data-target="#createSources " id="buttonCreate" onclick="getFormCreate()"">
        Criar Origem
    </button>
   <!-- Modal create-->
   <div class="modal fade" id="createSources" tabindex="-1" role="dialog" aria-labelledby="createSourcesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="createSourcesTitle">Criar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="POST" action="" id="formCreate" onsubmit="createSource()">
            <div id="modalCreateForm">
                modal body
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="buttonCloseCreate">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>    
    </div>
    </div>
</div>
    <!-- Modal edit-->
    <div class="modal fade" id="editSources" tabindex="-1" role="dialog" aria-labelledby="editSourcesTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editSourcesTitle">Criar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div id="modalEditForm">
                modal edit body
            </div>
        </div>
        </div>
    </div>
 
    <div class="table-responsive mb-2">
        <table class="table table-sm table-hover" id="id_table_sources">
            <thead>
                <tr>
                    <th scope="col">Ordem</th>
                    <th scope="col">Decrição</th>
                    <th scope="col">Editar/Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for fields in source %}
                <tr>
                    <th scope="row">{{ fields.id }}</th>
                    <td>{{ fields.description }}</td>
                    <td>
                        <button type="button" class="btn btn-warning mt-2 mb-2" data-toggle="modal" data-target="#editSources " id="buttonEdit{{ fields.id }}" onclick="getFormEdit(pk='{{ fields.id }}')">
                            Atualizar
                        </button>
                        <button type="button" class="btn btn-danger mt-2 mb-2" id="buttonDel{{ fields.id }}" onclick="delItem(pk='{{ fields.id }}')">
                            Delete
                        </button>
                        
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}

{% block scripts %}

<script>
    $(document).ready(function() {
        $('#id_table_sources').DataTable({
    responsive: true,
    // "bSort": false,
    "aaSorting": [],
    "pageLength": 50,
    "language": {
        "decimal": "",
        "emptyTable": "Sem dados disponíveis",
        "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
        "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
        "infoFiltered": "(filtrado de _MAX_ registos no total)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ registos",
        "loadingRecords": "A carregar dados...",
        "processing": "A processar...",
        "search": "Procurar:",
        "zeroRecords": "Não foram encontrados resultados",
        "paginate": {
            "first": "Primeiro",
            "last": "Último",
            "next": "Seguinte",
            "previous": "Anterior"
        },
        "aria": {
            "sortAscending": ": ordem crescente",
            "sortDescending": ": ordem decrescente"
        }
    }
});
        } );
</script>


{% endblock scripts %}