{% extends  'base.html' %}
{% block title %} Controle de Contas - Cadastro de Entradas {% endblock title %}
{% block body %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-4 col-md-4 col-lg-12 col-xl-12 align-items-center shadow p-3 mb-5 bg-white rounded">
            <div class="page-header pt-5">
                <h1 class="text-center">Entradas</h1>
            </div>
            <form method="POST" action="">
                {{ form.hidden_tag() if form.hidden_tag }}
                {% for f in form if f.type != 'CSRFTokenField' %}
                    <div class="form-group">
                    {{ f.label }}<br>
                    {{ f }}
                    {% if f.errors %}
                        <ul>
                            {% for e in f.errors %}
                            <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}