{% extends  'base.html' %}

{% block title %} Controle de Contas - Home {% endblock title %}


{% block contents %}

<main>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Controle de Contas</h1>
      <p>Esse é um programinha bem mehhhh, mas dá para o gasto. Controle suas despesas e receitas e seja feliz longe do Excel.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Vou arrumar só num sei quando. heheheh</h2>
        <p>isso era para ser uma landing page, mas estou com preguiça.</p>
      </div>
    <hr>

  </div> <!-- /container -->

</main>
{% endblock contents %}

