{% extends  'base.html' %}

{% block title %} Controle de Contas - Home {% endblock title %}


{% block contents %}

<main>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Controle de Contas</h1>
      <p>Programa meia boca</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Vai ficar cagado assim mesmo</h2>
      </div>
    <hr>

  </div> <!-- /container -->

</main>
{% endblock contents %}

